{% extends 'base.html' %}

{% block title %}
    My Awesome Blog
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <ul style="list-style-type: none; padding: 0px;">
        {% for post in object_list %}
        <li style="border: 2px solid black; padding: 10px;">
            <a href="{% url 'article_details' post.pk %}"><h2>{{ post.title }}</h2></a>
            <!-- <p style="font-size:larger;">{{ post.body }}</p> -->
            <p style="font-size:larger;">{{ post.body|linebreaks }}</p>
            <small>
                by {{ post.author }} ({{ post.author.first_name }} {{ post.author.last_name }}) - {{ post.author.email }}
                <br>
                {{ post.post_datetime }}
            </small>
            <br><br>

            <a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit Post</a>
            <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete Post</a>
        </li>
        <br>
        {% endfor %}
    </ul>
{% endblock %}