<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Posts</h1>
    <ul style="list-style-type: none; padding: 0px;">
        {% for post in object_list %}
        <li style="border: 2px solid black; padding: 10px;">
            <a href="{% url 'article_details' post.pk %}"><h2>{{ post.title }}</h2></a>
            <p style="font-size:larger;">{{ post.body }}</p>
            <p>by {{ post.author }} ({{ post.author.first_name }} {{ post.author.last_name }}) - {{ post.author.email }}</p>
        </li>
        <br>
        {% endfor %}
    </ul>
        
</body>
</html>